%shields {
  margin: 0;
  span {
    padding: 7px 8px 5px;
    font-weight: bold;
    border-radius: 6px;
    margin: auto 2px;
    color: var(--highlight-color);
    background-color: var(--base-offset-color);
  }
}
